<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<script src="{{url_for('static', filename='plotly-2.32.0.min.js')}}"></script>
		<script>
			var setsData = {{ sets | tojson }};
			var graphData = {{ drawdownData | tojson }};
			var equityData = {{ equityData | tojson }};
		</script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Account</h1>
			</header>

			<section class="table-section">
				<h2>Sets</h2>
				<table id="data-table">
					<thead>
						<tr>
							<th>Set Name</th>
							<th>Strategy</th>
							<th>Magic</th>
							<th>Profit</th>
							<th>Trades</th>
							<th>Max Drawdown</th>
							<th>Profit Factor</th>
							<th>Return on Drawdown</th>
							<th>Days Live</th>
						</tr>
					</thead>
					<tbody>
						<!-- Table body will be populated dynamically -->
					</tbody>
				</table>
			</section>
			<div id="drawdownGraph"></div>
			<div id="equityGraph"></div>
		</div>
		<script src="{{url_for('static', filename='script.js')}}"></script>
	</body>
</html>
