<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<script>
			var accounts = {{ accounts | tojson }};
			console.log(accounts);
		</script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Dashboard</h1>
				<a href="/create_account"><button>Create Account</button></a>
				<a href="/set_loader"><button>Set Loader</button></a>
			</header>

			<section class="table-section">
				<h2>Accounts</h2>
				<table id="data-table">
					<thead>
						<tr>
							<th>Account Number</th>
							<th>Type</th>
							<th>Status</th>
							<th>View</th>
						</tr>
					</thead>
					<tbody>
						<!-- Table body will be populated dynamically -->
					</tbody>
				</table>
			</section>
		</div>
		<script src="{{url_for('static', filename='indexScript.js')}}"></script>
	</body>
</html>
